body{
    background-color: black;
    color: white;
}
span{
    display: inline-block;
    padding: 1px;
    width: auto;
    opacity: 0;
}
.text{
    --delay : 0s ;
}
.letter {
    /**/
    animation: letter 2s  ease-in-out  ;
    animation-delay: calc( var(--delay) * 1s );
    animation-fill-mode: forwards;
}
  

@keyframes letter {
    0%{
        opacity: 0%;
        transform: translateY(35vw);
    } 
    70%{
       opacity: 0%;
    }
    90%{
        transform: translateY(-1vw);
    }
    100% {
        opacity: 100%;
        transform: translateY(0vw);
    }
}
